.addPlant {
  padding: 10px;
  margin: 1px;
  border: 1px dotted rgb(102, 98, 98) ;
  border-radius: 10px;
  /* height: 500px; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 400px;
}

 .obs {
  padding: 10px 12px;
  margin: 3px;
  /* width:max-content; */
}

.addPlant label {
  font: .9rem sans-serif;
  vertical-align: top;
}

.addPlant input {
  padding-left: 4px;
  margin-left: 10px;
  float: right;
  width: 250px;
}

.addPlant textarea {
  padding-left: 4px;
  margin-left: 10px;
  float: right;
  width: 100%;
  height: 100px;
}

.notes {
  height: 130px;
}


/* Styling for form elements on a single line */
.form-header{
  font: .9rem sans-serif;
  font-weight: bold;
  display: table;
  /* margin: 0 auto; */
  padding-top: 10px;
}

.form-row {
  display: flex;
  padding-left: 0px;
  margin-left: -5px;
}

.form-pair {
  width: 50%;
  padding:5px;
}

.form-pair input {

  padding-left: 10px;
  width: 100%;
}


.addButton {
  float:right;
  padding: 2px 5px; 
}

.addType {
  border: 1px dotted green ;
}

.addType select {
  margin-left: 10px;
  padding-left: 5px;
}